* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to right, #01579b, #3262a7, #4d6eb3, #647abf, #7986cb);
}

.card-container {
    display: flex;
    width: 50rem;
    height: auto;
    background-color: #E8EAF6;
    box-shadow: -8px -5px 22px 4px rgba(56,52,52,0.75);
    border-radius: 25px;
}

.header {
    border-right: 3px solid #1A237E;
    text-align: center;
    color: #01579B;
}


.header, .descripcion {
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
}

.header a{
    position: relative;
    display: block;
    padding-bottom: 20px;

}

.header img{
    width: 12rem;
    border-radius: 15px;
    background-color: #7986CB;
    box-shadow: 0px 0px 0px 1px rgba(13,10,122,0.61);
    margin: 15px 20px 0 20px;
    transition: .3s;
}

.header a:hover img {
    box-shadow: 1px 1px 7px 10px rgba(163,161,161,0.61);
}


.descripcion p{
    text-align: justify;
    margin: 20px 30px;
    font-size: 18px;
    font-weight: bolder;
    
}

.descripcion .social {
    text-align: center;
    font-size: 22px;
    padding-top: 25px;
}

.descripcion .social a{
    display: inline-block;
    padding: 0 10px;
    color: #1A237E;
    padding-bottom: 25px;

}

.descripcion .social a:hover{
    color: #7986CB;   
}

/* ------------------------------ media queries ----------------------------- */

@media (max-width:576px){
    .card-container{
        display: block;
        width: 30rem;
    }

    .header{
        padding: 20px 20px 5px 20px;
        border-right: none;
        font-size: 18px;
    }

    .descripcion p{
        font-size: 15px;
        text-align: center;
    }

}



